option_settings:
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: MONGO_URL
    value: %%%MONGO_STRING_CONN%%%
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: ROOT_URL
    value: %%%ROOT_STRING_URL%%%
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: CDN_URL
    value: %%%CDN_STRING_URL%%%
  - namespace:  aws:elasticbeanstalk:application:environment
    option_name: PORT
    value: %%%NODE_PORT%%%
